
body, html {
    height: 100%;
    margin: 0;	
	/*background-color: #8B0000;*/
}


.hero-image{
  background-image: url("beach2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.hero-text {
  text-align: center;
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: white;
  text-align: center-right;
  cursor: pointer;
  

}

.hero-text button:hover 
{
   background-color: #555;
   color: white;
}

#search_engine
{
	text-align: center;
    background-image: url("clouds.jpg");
    border: 8px ridge #8B0000;
	border-radius: 15px;
}

#search_text
{
	font-family:Verdana;
    color:#8B0000;
    font-size:28px;
    font-style:strong;
}

#plane {
    width: 300px;
    box-sizing: border-box;
    border: 3px ridge #8B0000;
	border-radius: 6px;
    font-size: 16px;
    background-color:white;
    background-image: url('plane2.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 60px;
    transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#plane:focus {
    width: 50%;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#708090;
	position: fixed;
    z-index: 1; 
    top:20;
    width: 100%;
  }

li
 {
    float: left;	
 }

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: bold;
     
	}
	*/
#label{
	display: block;
	float: right;
	padding: 14px 16px;
	background-color: #708090;
	text-decoration: none;
	border-radius: 2px;
}
#label:hover:not(.active){
	background-color: blue;
}

/*li a:hover:not(.active) {
    background-color: blue;

}

li a.active {
    color: black;
    background-color: 	#B22222;
}*/

*, *:before, *:after{
	box-sizing: inherit;
}
.column{
	float:left;
	width: 23%;
	margin: 2px 2px 2px 2px;
	padding:8px;
	
}

.row{
margin-left: 19px;}

@media (max-width: 650px){
	.column{
		width: 100%
		display:block;
	}
}

.card {
	box-shadow: 0 4px 8px 0;
	background-color: 	#FFA07A;
}

.container{
	padding: 0 20px;
}
.container::after, .row::after{
	content: "";
	clear:both;
	display: table;
}
h2
{
	color: white;
    text-align:center;
}

.title{
	color:blue;
	}
	
.button{
	border:none;
	outline:0;
	display: inline-block;
	padding:8px;
	color:white;
	background-color:brown;
	text-align: center;
	cursor:pointer;
	width: 100%;
}
.button:hover{
	background-color: gold;

}
#id{color:blue;
    text-align: center;}
	
.parallax{
	background-image:url('paysage.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.continent{
	font-style:bold;
	color:orange;
}

#fr{
	background-color: white;
	
}



.parallax2{
	background-image:url('airplane2.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax3{
	background-image:url('airplane.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container2 {
    padding: 16px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.user_info
{
  width: 40%;
}  



 /*nav bar css cstyle*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
.PrimaryNav {
  list-style: none;
  margin: 10px auto;
  max-width: 100%;
  padding: 0;
  width: 100%;
  position: fixed; 
  z-index: 1; 
}

.Nav-item {
  background: #ffffff;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
  
  text-align: center;
}
.Nav-item:first-child {
  border-radius: 3px 0 0 3px;
}
.Nav-item:last-child {
  border-radius: 0 3px 3px 0;
}
.Nav-item.is-active a {
  color: #e82d00;
}
.Nav-item a {
  color: #121212;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.Nav-item a:hover {
  color: #e82d00;
}

.with-indicator {
  position: fixed;
  z-index: 1;

}
.with-indicator .Nav-item:last-child:before, .with-indicator .Nav-item:last-child:after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.with-indicator .Nav-item:last-child:before {
  border: 6px solid transparent;
  border-top-color: #e82d00;
  width: 0;
  height: 0;
  top: 0;
  left: 10%;
  margin-left: -3px;
}
.with-indicator .Nav-item:last-child:after {
  background: #e82d00;
  top: -6px;
  bottom: -6px;
  left: 0;
  width: 20%;
  z-index: -1;
}
.with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:after {
  left: 0%;
}
.with-indicator .Nav-item:nth-child(1).is-active ~ .Nav-item:last-child:before {
  left: 10%;
}
.with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:after {
  left: 20%;
}
.with-indicator .Nav-item:nth-child(2).is-active ~ .Nav-item:last-child:before {
  left: 30%;
}
.with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:after {
  left: 40%;
}
.with-indicator .Nav-item:nth-child(3).is-active ~ .Nav-item:last-child:before {
  left: 50%;
}
.with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:after {
  left: 60%;
}
.with-indicator .Nav-item:nth-child(4).is-active ~ .Nav-item:last-child:before {
  left: 70%;
}
.with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:after {
  left: 0% !important;
}
.with-indicator .Nav-item:nth-child(1):hover ~ .Nav-item:last-child:before {
  left: 10% !important;
}
.with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:after {
  left: 20% !important;
}
.with-indicator .Nav-item:nth-child(2):hover ~ .Nav-item:last-child:before {
  left: 30% !important;
}
.with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:after {
  left: 40% !important;
}
.with-indicator .Nav-item:nth-child(3):hover ~ .Nav-item:last-child:before {
  left: 50% !important;
}
.with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:after {
  left: 60% !important;
}
.with-indicator .Nav-item:nth-child(4):hover ~ .Nav-item:last-child:before {
  left: 70% !important;
}
.with-indicator .Nav-item:last-child:hover:before, .with-indicator .Nav-item:last-child.is-active:before {
  left: 90% !important;
}
.with-indicator .Nav-item:last-child:hover:after, .with-indicator .Nav-item:last-child.is-active:after {
  left: 80% !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.PrimaryNav:before,
.PrimaryNav:after {
  content: " ";
  display: table;
}

.PrimaryNav:after {
  clear: both;
}